.card {
  padding: 8px 10px 10px;
  background-color: var(--color-card-background);
  border-radius: 3px;
  box-shadow: var(--color-input-box-shadow);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
